.main-container-sm 
    ul.breadcrumbs 
        li.breadcrumbs__item 
            a(href="#").breadcrumbs__link Главная 
        li.breadcrumbs__item О компании
    h1.block-title О компании LikeIT
    .block-sub-title Более 10 лет мы заботимся о вашем бизнесе
    .about-slogan
        p Мы выполняем сложные проекты. 
        p Клиенты приходят к нам за экспертностью и получают высококлассный продукт.
    .about
        .about__img 
            img(src="img/egor.jpg", alt="")
        .about__body 
            div(data-aos="fade-left").about__name Егор Дехтяр, CEO компании LIKEIT
            div(data-aos="fade-left" data-aos-delay="300").about__text 
                p Наша команда – ваш партнер. Мы готовы помочь в создании нового или серьёзной переработке существующего крупного веб-продукта. Доверие клиентов мы оправдываем высоким темпом работы и качественным результатом – долгосрочное сотрудничество лучшее подтверждение нашего профессионализма.
                p Нас выбирают, когда хотят осуществить самые смелые digital решения, объёмы которого не под силу большинству подрядчиком.
            div(data-aos="fade-left" data-aos-delay="600").count-list.count-list-3
                .count-list__item 
                    .count__number.count__number-lg
                        span(data-purecounter-end="2013").counter 
                    .count__text 6 лет опыта работы
                .count-list__item 
                    .count__number.count__number-lg
                        span(data-purecounter-end="15").counter 
                        |+
                    .count__text Cпециалистов в команде
                .count-list__item 
                    .count__number.count__number-lg
                        span(data-purecounter-end="200").counter
                        |+
                    .count__text Разработанных проектов
    blockquote.quote 
        p.quote--bold Наша философия – перфекционизм в работе и продуманные решения.
        p Вы говорите, чего хотите от веб-продукта, а мы подбираем продуманное решение и осуществляем в лучшем виде.
        svg.icon.icon--quotes
            use(href="img/sprite.svg#quotes")  
    h3.block-title Наши награды
    ul.list-red.award-list 
        li.list-red__item 10 место в рейтинге веб-студий Байнета за 2019 г.
        li.list-red__item 2 место в рейтинге веб-студий по удовлетворённости клиентов Байнета за 2019 г.
        li.list-red__item 3 место в рейтинге digital-агентств по удовлетворённости клиентов Байнета за 2019 г.
    .award-text 
        p Сильная сторона нашей команды - экспертность и эффективность.
        p Именно благодаря такому подходу 90% новых клиентов становятся постоянными.
    .facts 
        div(data-aos="fade-left").facts__item 
            .fact 
                img(src="img/facts/fact-1.jpg", alt="")
        div(data-aos="fade-left" data-aos-delay="200").facts__item 
            .fact 
                img(src="img/facts/fact-2.jpg", alt="")
        div(data-aos="fade-left" data-aos-delay="400").facts__item 
            .fact 
                img(src="img/facts/fact-3.jpg", alt="")
        div(data-aos="fade-left" data-aos-delay="600").facts__item 
            .fact 
                img(src="img/facts/fact-4.jpg", alt="")
        div(data-aos="fade-left" data-aos-delay="800").facts__item 
            .fact 
                img(src="img/facts/fact-5.jpg", alt="")
        div(data-aos="fade-left" data-aos-delay="1000").facts__item 
            .fact 
                img(src="img/facts/fact-6.jpg", alt="")
    .fact-slogan
        .fact-slogan__text Ежегодно наши клиенты нам доверяют
            span.fact-slogan__bold более 
                span.text-blue 300 000 $  
                |бюджета на разработку
        a(href="#").fact-slogan__link Узнать больше о подходе в нашей работы 
            svg.icon.icon--arrow-right
                use(href="img/sprite.svg#arrow-right")  
.main-container 
    div(data-aos="fade-up").request-container.request--black 
        .request__text
            p Узнайте, что можно сделать для вашего сайта
        .request__right
            .request-form 
                input(type="text" placeholder="Введите адрес вашего сайта").request-form__input 
            a(href="#").btn-request Отправить  
                svg.icon.icon--arrow-right
                    use(href="img/sprite.svg#arrow-right")
.main-container-sm
    h3.block-title.text-center Почему вы можете доверить свой проект нам?
    .list-number 
        .list-number__item 
            .list-number__digit 1
            div(data-aos="fade-left").list-number__body
                .list-number__title Лучшие специалисты
                .list-number__text 
                    p Мы собрали команду талантливых разработчиков, менеджеров, маркетологов и дизайнеров, которые имеют опыт работы от 3 лет и опыт работы в разных нишах.
        div(style="max-height:calc(100% - 1px);").list-number-dropdown
            .list-number__item 
                .list-number__digit 2
                div(data-aos="fade-left").list-number__body
                    .list-number__title Работаем по фиксированным ценам и ТЗ
                    .list-number__text 
                        p Отдельно перед разработкой проекта, мы делаем анализ и составляем техническое задание. Утверждаем его с вами и прописываем чёткую сумму в договоре. Запуск рекламных кампаний и техническая поддержка так же имеют фиксированную сумму.
            .list-number__item 
                .list-number__digit 3
                div(data-aos="fade-left").list-number__body
                    .list-number__title Максимально погружаемся в проект и скрупулёзно решаем задачи
                    .list-number__text 
                        p Мы собрали команду талантливых разработчиков, менеджеров, маркетологов и дизайнеров, которые имеют опыт работы от 3 лет и опыт работы в разных нишах.
            .list-number__item 
                .list-number__digit 4
                div(data-aos="fade-left").list-number__body
                    .list-number__title Применяем системный подход
                    .list-number__text 
                        p Наша команда работает по направлениям маркетинга, разработки сайтов, веб-дизайна и CRM. Если в проекте необходимо задействовать специалистов другого отдела, мы привлекаем его в работу.
            .list-number__item 
                .list-number__digit 5
                div(data-aos="fade-left").list-number__body
                    .list-number__title Проводим анализ вашего бизнеса
                    .list-number__text 
                        p Обязательно проводим предпроектные исследования – изучаем нишу, аудиторию, конкурентов и основные внутренние бизнес-процессы в вашей компании, предыдущие запуски рекламы или работу предыдущих исполнителей.  Только основываясь на расширенном анализе можно начинать работу и рассчитывать на хороший результат.
            .list-number__item 
                .list-number__digit 6
                div(data-aos="fade-left").list-number__body
                    .list-number__title Закрепляем персонального менеджера проекта
                    .list-number__text 
                        p Под каждый проект мы выделяем персонального менеджера, чтобы результат и ход проекта соответствовал вашим ожиданиям.
            .list-number__item 
                .list-number__digit 7
                div(data-aos="fade-left").list-number__body
                    .list-number__title Предоставляем приоритетную поддержку
                    .list-number__text 
                        p В Likeit есть горячая линия технической поддержки, которая закрывает проблемы по всем направлениям. Наши клиенты имеют приоритетный статус и быстрее получают решение своих вопросов.
            .list-number__item 
                .list-number__digit 8
                div(data-aos="fade-left").list-number__body
                    .list-number__title Применяем системный подход
                    .list-number__text 
                        p Наша команда работает по направлениям маркетинга, разработки сайтов, веб-дизайна и CRM. Если в проекте необходимо задействовать специалистов другого отдела, мы привлекаем его в работу.
        .text-center
            a(href="#").list-number__btn.is-active 
                svg.icon.icon--arrow-up
                    use(href="img/sprite.svg#arrow-up")
                span.list-number__btn-closed Читать всё
                span.list-number__btn-active Свернуть
                svg.icon.icon--arrow-up
                    use(href="img/sprite.svg#arrow-up")
.main-container-sm 
    h3.block-title Кто за этим стоит?
    .block-sub-title Результат делают люди, и это главный ликвидный актив маркетингового агентства. Нам удалось собрать отличную команду, которая объединила в себе опыт в области разработки, дизайна, маркетинга и продаж.
    .about-slider 
        .swiper-wrapper
            .swiper-slide
                .about-card 
                    .about-card__photo 
                        img(src="img/about/about-1.png", alt="")
                    .about-card__body 
                        .about-card__name Дехтяр Егор
                        .about-card__post CEO, директор
                        a(href="#").about-card__contacts 
                            svg.icon.icon--instagram-sm
                                use(href="img/sprite.svg#instagram-sm")
                            .about-card__contacts-text dehtiar
            .swiper-slide
                .about-card 
                    .about-card__photo 
                        img(src="img/about/about-2.png", alt="")
                    .about-card__body 
                        .about-card__name Ломша Александр
                        .about-card__post CМO, Руководитель 
                        a(href="#").about-card__contacts 
                            svg.icon.icon--instagram-sm
                                use(href="img/sprite.svg#instagram-sm")
                            .about-card__contacts-text dehtiar
            .swiper-slide
                .about-card 
                    .about-card__photo 
                        img(src="img/about/about-3.png", alt="")
                    .about-card__body 
                        .about-card__name Медушевская Мария
                        .about-card__post Project manager
                        a(href="tel:+375295555571").about-card__contacts 
                            svg.icon.icon--phone-sm
                                use(href="img/sprite.svg#phone-sm")
                            .about-card__contacts-text  +375 29 555 5571
            .swiper-slide
                .about-card 
                    .about-card__photo 
                        img(src="img/about/about-4.png", alt="")
                    .about-card__body 
                        .about-card__name Медушевская Мария
                        .about-card__post Project manager 
                        a(href="tel:+375295555571").about-card__contacts 
                            svg.icon.icon--phone-sm
                                use(href="img/sprite.svg#phone-sm")
                            .about-card__contacts-text +375 29 555 5571
        .swiper-button-prev
            svg.icon.icon--arrow-up
                use(href="img/sprite.svg#arrow-up")  
        .swiper-button-next
            svg.icon.icon--arrow-up
                use(href="img/sprite.svg#arrow-up")           
.main-container 
    .request-container.request--blue
        .request__text
            p Получить подарок во время КРИЗИСА, это бесценно.
        .request__right
            .request-form 
                input(type="text" placeholder="Введите адрес вашего сайта").request-form__input 
            a(href="#").btn-request Отправить  
                svg.icon.icon--arrow-right
                    use(href="img/sprite.svg#arrow-right")
.main-container-sm  
    h3.blok-title Среди наших клиентов
    .clients 
        .clients-row
            .clients__item 
                .client 
                    img(src="img/clients-about/client-1.png", alt="")
            .clients__item 
                .client 
                    img(src="img/clients-about/client-2.png", alt="")
            .clients__item 
                .client 
                    img(src="img/clients-about/client-3.png", alt="")
            .clients__item 
                .client 
                    img(src="img/clients-about/client-4.png", alt="")
            .clients__item 
                .client 
                    img(src="img/clients-about/client-5.png", alt="")
            .clients__item 
                .client 
                    img(src="img/clients-about/client-6.png", alt="")
        .clients-row
            .clients__item 
                .client 
                    img(src="img/clients-about/client-7.png", alt="")
            .clients__item 
                .client 
                    img(src="img/clients-about/client-8.png", alt="")
            .clients__item 
                .client 
                    img(src="img/clients-about/client-9.png", alt="")
            .clients__item 
                .client 
                    img(src="img/clients-about/client-10.png", alt="")
            .clients__item 
                .client 
                    img(src="img/clients-about/client-11.png", alt="")
            .clients__item 
                .client 
                    img(src="img/clients-about/client-12.png", alt="")
        .clients-row
            .clients__item 
                .client 
                    img(src="img/clients-about/client-13.png", alt="")
            .clients__item 
                .client 
                    img(src="img/clients-about/client-14.png", alt="")
            .clients__item 
                .client 
                    img(src="img/clients-about/client-15.png", alt="")
            .clients__item 
                .client 
                    img(src="img/clients-about/client-16.png", alt="")
            .clients__item 
                .client 
                    img(src="img/clients-about/client-17.png", alt="")
            .clients__item 
                .client 
                    img(src="img/clients-about/client-18.png", alt="")
    div(data-aos="fade-up").letter
        .letter__text Привет, меня зовут
        .letter__form 
            input(type="text" placeholder="имя и фамилия").letter__form-input
        .letter__text . Я из компании
        .letter__form 
            input(type="text" placeholder="название компании").letter__form-input
        .letter__text Вы можете связаться со мной по телефону
        .letter__form 
            input(type="text" placeholder="ххх ххх хх хх").letter__form-input
        .letter__text , или по электронной почте
        .letter__form 
            input(type="text" placeholder="your@email.ru").letter__form-input.is-error
        .letter__text . Меня интересует 
        .letter__form-textarea-cont
            textarea(cols="30", rows="1" placeholder=" краткое описание проекта").letter__form-textarea
    div(data-aos="fade-up").file 
        input(type="file")#file-1.file__input
        label(for="file-1").file__label Прикрепить файл с информацией о проекте
            svg.icon.icon--clip
                use(href="img/sprite.svg#clip")
    div(data-aos="fade-up").letter-bottom 
        a(href="#").btn.btn-primary Отправить 
            svg.icon.icon--arrow-right
                use(href="img/sprite.svg#arrow-right")
        .checkbox
            //.is-error
            input(type="checkbox")#checkbox-1.checkbox__input
            label(for="checkbox-1").checkbox__label Согласие на обработку персональных данных