.main-container-sm 
    .block-header
        .block-header__left
            h3.block-title Нашы кейсы
            .block-sub-title Не важно из какой вы сферы, мы в действительности погрузимся в ваши процессы, наши специалисты приедут к вам и узнают всё, о чем вы хотите рассказать вашим пользователям.
        .block-header__right
            a(href="#").btn.btn-primary 
                span.btn__text Все кейсы
                svg.icon.icon--arrow-right
                    use(href="img/sprite.svg#arrow-right") 
.main-container 
    div(data-aos="fade-up").case-slider 
        .swiper-wrapper
            .swiper-slide.case-slider__item 
                a(href="#").case 
                    .case__img 
                        img(src="img/case/case-1.jpg", alt="")
                    .case__name Мобильное приложение Hankook
                    .case__about Сервис расширенной гарантии Hankook.
            .swiper-slide.case-slider__item 
                a(href="#").case 
                    .case__img 
                        img(src="img/case/case-2.jpg", alt="")
                    .case__name Мобильное приложение PetzTrove
                    .case__about Сервис расширенной гарантии Hankook.
            .swiper-slide.case-slider__item 
                a(href="#").case 
                    .case__img 
                        img(src="img/case/case-3.jpg", alt="")
                    .case__name Интернет-магазин AMIHOME 
                    .case__about Сервис расширенной гарантии Hankook.
            .swiper-slide.case-slider__item 
                a(href="#").case 
                    .case__img 
                        img(src="img/case/case-4.jpg", alt="")
                    .case__name Интерент-магазин постельного белья
                    .case__about Сервис расширенной гарантии Hankook.

