.clients-main-wrapper 
    div(data-aos="fade-up").clients-main__title Мы работаем с хорошими компаниями, большими и маленькими, холдингами и стартапами, из Беларусии и по всему миру
    .clients-main-container
        div(data-aos="fade-up").clients-main__row
            .clients-main__item
                img(src="img/clients/clients-1.svg", alt="")
            .clients-main__item
                img(src="img/clients/clients-2.svg", alt="")
            .clients-main__item
                img(src="img/clients/clients-3.svg", alt="")
            .clients-main__item
                img(src="img/clients/clients-4.svg", alt="")
            .clients-main__item
                img(src="img/clients/clients-4.svg", alt="")
            .clients-main__item
                img(src="img/clients/clients-5.svg", alt="")
        div(data-aos="fade-up").clients-main__row
            .clients-main__item
                img(src="img/clients/clients-6.svg", alt="")
            .clients-main__item
                img(src="img/clients/clients-7.svg", alt="")
            .clients-main__item
                img(src="img/clients/clients-8.svg", alt="")
            .clients-main__item
                img(src="img/clients/clients-9.svg", alt="")
            .clients-main__item
                img(src="img/clients/clients-9.svg", alt="")
            .clients-main__item
                img(src="img/clients/clients-10.svg", alt="")
        div(data-aos="fade-up").clients-main__row
            .clients-main__item
                img(src="img/clients/clients-11.svg", alt="")
            .clients-main__item
                img(src="img/clients/clients-12.svg", alt="")
            .clients-main__item
                img(src="img/clients/clients-13.svg", alt="")
            .clients-main__item
                img(src="img/clients/clients-14.svg", alt="")
            .clients-main__item
                img(src="img/clients/clients-14.svg", alt="")
            .clients-main__item
                a(href="#").clients-main__btn
                    span.clients-main__btn-cross
                    span.clients-main__btn-text Стать нашим </br> клиентом

