.main-container-sm 
    ul.breadcrumbs.mb-15
        li.breadcrumbs__item 
            a(href="#").breadcrumbs__link Главная 
        li.breadcrumbs__item Разработка
    .page-bn 
        .page-bn__img
            img(src="img/bn-1.jpg", alt="")
        .page-bn__inner
            div(data-aos="fade-right").page-bn__left 
                h1.block-title Разработка сайтов
                .block-sub-title Разрабатываем сайты с высокой конверсией, которые легко вывести в ТОП и дорабатывать. Полностью ведем проект или помогаем команде на стороне клиента.
                a(href="#").btn.btn-primary Оставить заявку
                    svg.icon.icon--arrow-right
                        use(href="img/sprite.svg#arrow-right")
            div(data-aos="fade-left").page-bn__right 
                .pege-bn__facts
                    .fact 
                        img(src="img/facts/fact-1.jpg", alt="")
                .pege-bn__facts
                    .fact 
                        img(src="img/facts/fact-3.jpg", alt="")
    div(data-aos="fade-left" data-aos-delay="600").count-list.development-list
        .count-list__item 
            .count__number.count__number-lg
                span(data-purecounter-end="90").counter 
            .count__text дней гарантия на разработанный сайт
        .count-list__item 
            .count__number.count__number-lg
                |х
                span(data-purecounter-end="2").counter
                |,
                span(data-purecounter-end="5").counter
            .count__text раза повышается трафик сайта
        .count-list__item 
            .count__number.count__number-lg
                span(data-purecounter-end="200").counter
                |+
            .count__text компаний стали зарабатывать больше после сотрудничества с нами
    .develop-text 
        p 
            b О "продающих" сайтах сегодня не говорит только ленивый.
            |Что вкладывается в это понятие? Дизайн, адаптив, хороший контент? Всё вместе: 
            b сайт в 2021 году 
            |априори должен быть 
            b с удобным и запоминающимся дизайном, хорошим адаптивом, грамотным и понятным контентом. 
            |Но 
            b самое главное,
            |что делает сайт "продающим" - 
            b это ориентир на пользователя. 
            |Это значит, что каждый блок и каждое слово должны находить отклик у посетителей, предлагать решение его проблемы и подводить к покупке.
        p Мы разрабатываем для наших клиентов именно такие сайты, которые соответствуют целям и помогают наладить коммуникацию с их аудиторией.
    h3.block-title Преимущества наших сайтов
    div(data-aos="fade-up").benefits-list 
        .benefits-list__item 
            .benefits-list__number 1.
            .benefits-list__text
                p Ведем разработку веб-ресурсов на основе предварительного маркетингового анализа
        .benefits-list__item 
            .benefits-list__number 2.
            .benefits-list__text
                p Разрабатываем до 5 креативных дизайн-концепций проекта
        .benefits-list__item 
            .benefits-list__number 3.
            .benefits-list__text
                p На этапе разработки технического задания учитываем задачи будущего SEO
        .benefits-list__item 
            .benefits-list__number 4.
            .benefits-list__text
                p Поддерживаем высокие стандарты технической поддержки и модернизации сайтов
    ul.figure-list 
        li(data-aos="fade-left").figure-list__item 
            .figure-list__head 
                a(href="#").figure-list__link.is-active Создание интернет-магазина 
                    svg.icon.icon--arrow-right
                        use(href="img/sprite.svg#arrow-right")
                .figure-list__price Стоимость от 1 500&#36;
            .figure-list__text 
                p Создаём гибкие и понятные интернет-магазины на надёжной CMS-платформе. Удобное управление и добавление новых товаров, настройка фильтров, интеграция с 1С и CRM-системой, внутренние инструменты маркетинга.
        li(data-aos="fade-left").figure-list__item 
            .figure-list__head 
                a(href="#").figure-list__link Создание корпоративного сайта 
                    svg.icon.icon--arrow-right
                        use(href="img/sprite.svg#arrow-right")
                .figure-list__price Стоимость от 900&#36;
            .figure-list__text 
                p Разработаем современный корпоративный сайт, который будет поддерживать имидж  компании. Наши сайты удобны в управлении, адаптивны и понятны для целевой аудитории.
        li(data-aos="fade-left").figure-list__item 
            .figure-list__head 
                a(href="#").figure-list__link Создание Landing page   
                    svg.icon.icon--arrow-right
                        use(href="img/sprite.svg#arrow-right")
                .figure-list__price Стоимость от 500&#36;
            .figure-list__text 
                p Разрабатываем уникальные Landing Page с повышенной конверсией: для запуска рекламных кампаний, малого бизнеса, тестирования гипотез. Landing - идеальное решение для быстрого запуска и получения заявок.
        li(data-aos="fade-left").figure-list__item 
            .figure-list__head 
                a(href="#").figure-list__link Адаптивная верстка проектов   
                    svg.icon.icon--arrow-right
                        use(href="img/sprite.svg#arrow-right")
                .figure-list__price Стоимость от 150&#36;
            .figure-list__text 
                p Создаём гибкие и понятные интернет-магазины на надёжной CMS-платформе. Удобное управление и добавление новых товаров, настройка фильтров, интеграция с 1С и CRM-системой, внутренние инструменты маркетинга.
        li(data-aos="fade-left").figure-list__item 
            .figure-list__head 
                a(href="#").figure-list__link Создание сайтов на Tilda   
                    svg.icon.icon--arrow-right
                        use(href="img/sprite.svg#arrow-right")
                .figure-list__price Стоимость от 450&#36;
            .figure-list__text 
                p Создаём гибкие и понятные интернет-магазины на надёжной CMS-платформе. Удобное управление и добавление новых товаров, настройка фильтров, интеграция с 1С и CRM-системой, внутренние инструменты маркетинга.
        li(data-aos="fade-left").figure-list__item 
            .figure-list__head 
                a(href="#").figure-list__link Создание высоконагруженных проектов 
                    svg.icon.icon--arrow-right
                        use(href="img/sprite.svg#arrow-right")
                .figure-list__price Стоимость от 5 000&#36;
            .figure-list__text 
                p Создаём гибкие и понятные интернет-магазины на надёжной CMS-платформе. Удобное управление и добавление новых товаров, настройка фильтров, интеграция с 1С и CRM-системой, внутренние инструменты маркетинга.
        li(data-aos="fade-left").figure-list__item 
            .figure-list__head 
                a(href="#").figure-list__link Разработка сайтов на 1С-Битрикс    
                    svg.icon.icon--arrow-right
                        use(href="img/sprite.svg#arrow-right")
                .figure-list__price Стоимость от 1 500&#36;
            .figure-list__text 
                p Создаём гибкие и понятные интернет-магазины на надёжной CMS-платформе. Удобное управление и добавление новых товаров, настройка фильтров, интеграция с 1С и CRM-системой, внутренние инструменты маркетинга.
        li(data-aos="fade-left").figure-list__item 
            .figure-list__head 
                a(href="#").figure-list__link Купить лицензию 1С-Битрикс    
                    svg.icon.icon--arrow-right
                        use(href="img/sprite.svg#arrow-right")
                .figure-list__price Стоимость от 70&#36;
            .figure-list__text 
                p Создаём гибкие и понятные интернет-магазины на надёжной CMS-платформе. Удобное управление и добавление новых товаров, настройка фильтров, интеграция с 1С и CRM-системой, внутренние инструменты маркетинга.
    .btn-center
        a(href="#").btn.btn-primary Получить коммерческое предложение
            svg.icon.icon--arrow-right
                use(href="img/sprite.svg#arrow-right")
.main-container-sm 
    .block-header
        .block-header__left
            h3.block-title Нашы кейсы
            .block-sub-title Не важно из какой вы сферы, мы в действительности погрузимся в ваши процессы, наши специалисты приедут к вам и узнают всё, о чем вы хотите рассказать вашим пользователям.
        .block-header__right
            a(href="#").btn.btn-primary 
                span.btn__text Все кейсы
                svg.icon.icon--arrow-right
                    use(href="img/sprite.svg#arrow-right") 
.main-container 
    div(data-aos="fade-up").case-slider 
        .swiper-wrapper
            .swiper-slide.case-slider__item 
                a(href="#").case 
                    .case__img 
                        img(src="img/case/case-1.jpg", alt="")
                    .case__name Мобильное приложение Hankook
                    .case__about Сервис расширенной гарантии Hankook.
            .swiper-slide.case-slider__item 
                a(href="#").case 
                    .case__img 
                        img(src="img/case/case-2.jpg", alt="")
                    .case__name Мобильное приложение PetzTrove
                    .case__about Сервис расширенной гарантии Hankook.
            .swiper-slide.case-slider__item 
                a(href="#").case 
                    .case__img 
                        img(src="img/case/case-3.jpg", alt="")
                    .case__name Интернет-магазин AMIHOME 
                    .case__about Сервис расширенной гарантии Hankook.
            .swiper-slide.case-slider__item 
                a(href="#").case 
                    .case__img 
                        img(src="img/case/case-4.jpg", alt="")
                    .case__name Интерент-магазин постельного белья
                    .case__about Сервис расширенной гарантии Hankook.
    .request-container.request--blue
        .request__text
            p Получить подарок во время КРИЗИСА, это бесценно.
        .request__right
            .request-form 
                input(type="text" placeholder="Введите адрес вашего сайта").request-form__input 
            a(href="#").btn-request Отправить  
                svg.icon.icon--arrow-right
                    use(href="img/sprite.svg#arrow-right")
.main-container-sm
    div(data-aos="fade-up").letter
        .letter__text Привет, меня зовут
        .letter__form 
            input(type="text" placeholder="имя и фамилия").letter__form-input
        .letter__text . Я из компании
        .letter__form 
            input(type="text" placeholder="название компании").letter__form-input
        .letter__text Вы можете связаться со мной по телефону
        .letter__form 
            input(type="text" placeholder="ххх ххх хх хх").letter__form-input
        .letter__text , или по электронной почте
        .letter__form 
            input(type="text" placeholder="your@email.ru").letter__form-input.is-error
        .letter__text . Меня интересует 
        .letter__form-textarea-cont
            textarea(cols="30", rows="1" placeholder=" краткое описание проекта").letter__form-textarea
    div(data-aos="fade-up").file 
        input(type="file")#file-1.file__input
        label(for="file-1").file__label Прикрепить файл с информацией о проекте
            svg.icon.icon--clip
                use(href="img/sprite.svg#clip")
    div(data-aos="fade-up").letter-bottom 
        a(href="#").btn.btn-primary Отправить 
            svg.icon.icon--arrow-right
                use(href="img/sprite.svg#arrow-right")
        .checkbox
            //.is-error
            input(type="checkbox")#checkbox-1.checkbox__input
            label(for="checkbox-1").checkbox__label Согласие на обработку персональных данных