.main-container-sm 
    .block-title Факты  о нас
    .count-list#counters_1
        .count-list__item 
            .count__number 
                span(data-purecounter-end="2013").counter 
            .count__text 6 лет опыта работы
        .count-list__item 
            .count__number 
                span(data-purecounter-end="15").counter 
                |+
            .count__text Cпециалистов в команде
        .count-list__item 
            .count__number 
                span(data-purecounter-end="200").counter
                |+
            .count__text Разработанных проектов
        .count-list__item 
            .count__number 
                span(data-purecounter-end="50").counter
                |+
            .count__text Успешных стратегий продвижения
        .count-list__item 
            .count__number x1.5 +
            .count__text Повышение ROI
        .count-list__item 
            .count__number 
                span(data-purecounter-end="90").counter
                |%
            .count__text Клиентов сотрудничают с нами на постоянной основе
    .facts 
        div(data-aos="fade-left").facts__item 
            .fact 
                img(src="img/facts/fact-1.jpg", alt="")
        div(data-aos="fade-left" data-aos-delay="200").facts__item 
            .fact 
                img(src="img/facts/fact-2.jpg", alt="")
        div(data-aos="fade-left" data-aos-delay="400").facts__item 
            .fact 
                img(src="img/facts/fact-3.jpg", alt="")
        div(data-aos="fade-left" data-aos-delay="600").facts__item 
            .fact 
                img(src="img/facts/fact-4.jpg", alt="")
        div(data-aos="fade-left" data-aos-delay="800").facts__item 
            .fact 
                img(src="img/facts/fact-5.jpg", alt="")
        div(data-aos="fade-left" data-aos-delay="1000").facts__item 
            .fact 
                img(src="img/facts/fact-6.jpg", alt="")
    .fact-slogan
        .fact-slogan__text Ежегодно наши клиенты нам доверяют
            span.fact-slogan__bold более 
                span.text-blue 300 000 $  
                |бюджета на разработку
        a(href="#").fact-slogan__link Узнать больше о подходе в нашей работы 
            svg.icon.icon--arrow-right
                use(href="img/sprite.svg#arrow-right")  