footer.footer 
    .main-container-sm 
        .footer__inner 
            .footer__col 
                .logo.footer__logo 
                    a(href="#").logo__name Like
                        span It
                    .logo__text Development reliable solutions for your business
                a(href="#").footer__copy-right  &copy; 2013-2019 LIKEIT / web-engineering co
                a(href="#").prezentation 
                    svg.icon.icon--pdf
                        use(href="img/sprite.svg#pdf")
                    |Презентация
                ul.social.footer__social 
                    li.social__item 
                        a(href="#").social__link Telegram
                    li.social__item 
                        a(href="#").social__link Viber
                    li.social__item 
                        a(href="#").social__link LinkedIn 
            .footer__col
                ul.footer-nav 
                    li.footer-nav__item
                        a(href="#").footer-nav__link О компании 
                    li.footer-nav__item
                        a(href="#").footer-nav__link Блог 
                    li.footer-nav__item
                        a(href="#").footer-nav__link Партнеры
                    li.footer-nav__item
                        a(href="#").footer-nav__link Кейсы
                    li.footer-nav__item
                        a(href="#").footer-nav__link Отзывы
                    li.footer-nav__item
                        a(href="#").footer-nav__link Реквизиты 
                        |(
                        a(href="#").footer-nav__link-download Скачать
                        |)
            .footer__col
                ul.footer-nav 
                    li.footer-nav__item
                        a(href="#").footer-nav__link Разработка
                    li.footer-nav__item
                        a(href="#").footer-nav__link IOS / Android
                    li.footer-nav__item
                        a(href="#").footer-nav__link Дизайн
                    li.footer-nav__item
                        a(href="#").footer-nav__link Маркетинг
                    li.footer-nav__item
                        a(href="#").footer-nav__link Техническая поддержка
            .footer__col
                h3.footer__contacts-title Наши контакты
                .contacts.footer__contacts
                    a(href="tel:+375293220020").contacts__phone +375 (29) 322-00-20
                    a(href="mailto:").contacts__mail info@likeit.by
                    .contacts__address 
                        span Минск, ул. Казинца 11а 
                        span Барановичи, </br> ул. Куйбышева,111 офис 211