header.header   
    .main-container 
        .header__body
            .logo.header__logo 
                a(href="#").logo__name Like
                    span It
                .logo__text Development reliable solutions for your business
            ul.nav.header__nav 
                li.nav__item
                    a(href="#").nav__link.is-active  О компании
                li.nav__item 
                    a(href="#").nav__link Наши услуги
                li.nav__item 
                    a(href="#").nav__link Кейсы
                li.nav__item 
                    a(href="#").nav__link Блог
                li.nav__item 
                    a(href="#").nav__link Контакты
            .header__right
                a(href="tel:+375293220020").header__phone +375 (29) 322-00-20 
                a(href="#").menu-btn 
                    .menu-btn__text Меню
                    .menu-btn__icon 
                        span 
                        span 
                        span
.menu-wrap
    .main-container 
        .menu-wrap__left 
            .logo.menu__logo 
                a(href="#").logo__name Like
                    span It
                .logo__text Development reliable solutions for your business
            ul.nav.menu__nav 
                li.nav__item
                    a(href="#").nav__link.is-active  О компании
                li.nav__item.nav__item--mobile 
                    a(href="#").nav__link Услуги
                li.nav__item.nav__item--mobile 
                    a(href="#").nav__link Кейсы
                li.nav__item 
                    a(href="#").nav__link Отзывы
                li.nav__item 
                    a(href="#").nav__link Вакансии
                li.nav__item 
                    a(href="#").nav__link Блог
                li.nav__item 
                    a(href="#").nav__link Контакты
            .contacts.menu__contacts 
                a(href="tel:+375293220020").contacts__phone +375 (29) 322-00-20
                a(href="mailto:").contacts__mail info@likeit.by
                .contacts__address 
                    span Минск, ул. Казинца 11а 
                    span Барановичи, ул. Куйбышева,111 офис 211
            ul.social.menu__social.social--mobile 
                li.social__item 
                    a(href="#").social__link Telegram
                li.social__item 
                    a(href="#").social__link Viber
                li.social__item 
                    a(href="#").social__link LinkedIn 
        .menu-wrap__right 
            .menu
                .menu__col 
                    ul.menu-list
                        li.menu-list__item 
                            a(href="#").menu-list__link Услуги
                        li.menu-list__item 
                            a(href="#").menu-list__link Разработка
                        li.menu-list__item 
                            a(href="#").menu-list__link IOS / Android
                        li.menu-list__item 
                            a(href="#").menu-list__link Дизайн
                        li.menu-list__item 
                            a(href="#").menu-list__link Маркетинг
                        li.menu-list__item 
                            a(href="#").menu-list__link Техническая поддержка
                .menu__col 
                    ul.menu-list
                        li.menu-list__item 
                            a(href="#").menu-list__link Кейсы
                        li.menu-list__item 
                            a(href="#").menu-list__link UX/UI дизайн
                        li.menu-list__item 
                            a(href="#").menu-list__link Landing pages
                        li.menu-list__item 
                            a(href="#").menu-list__link Интернет-магазины
                        li.menu-list__item 
                            a(href="#").menu-list__link Корпоративные сайты
                        li.menu-list__item 
                            a(href="#").menu-list__link SEO продвижение
                .menu__col 
                    ul.menu-list
                        li.menu-list__item 
                            a(href="#").menu-list__link Продукты
                        li.menu-list__item 
                            a(href="#").menu-list__link 1С-Битрикс: Управление сайтом
            ul.social.menu__social 
                li.social__item 
                    a(href="#").social__link Telegram
                li.social__item 
                    a(href="#").social__link Viber
                li.social__item 
                    a(href="#").social__link LinkedIn 
div(data-aos="fade-left" data-aos-delay="250").badge.badge-top.badge--yellow
    .badge__triangles 
        .badge__triangle-top
        .badge__triangle-bottom
    .badge__icon 
        img(src="img/1c-bitrix.svg", alt="")
    .badge__body 
        |Золотой партнер 1С-Битрикс
div(data-aos="fade-left" data-aos-delay="500").badge.badge--blue
    .badge__triangles 
        .badge__triangle-top
        .badge__triangle-bottom
    .badge__icon 
        img(src="img/top-10.svg", alt="")
    .badge__body 
        |Топ-10 по версии 
        a(href="#").badge__link ratingbynet.by
a(href="#").feedback
    svg.icon.icon--feedback
        use(href="img/sprite.svg#feedback")
.page-social
    ul(data-aos="fade-right").social
        li.social__item 
            a(href="#").social__link Telegram
        li.social__item 
            a(href="#").social__link Viber
        li.social__item 
            a(href="#").social__link LinkedIn 
a(href="#").page-copy-right © 2013-2019 LIKEIT / web-engineering co

