.main-container-sm 
    ul.breadcrumbs.mb-15
        li.breadcrumbs__item 
            a(href="#").breadcrumbs__link Главная 
        li.breadcrumbs__item Разработка
    .page-bn 
        .page-bn__img
            img(src="img/bn-2.jpg", alt="")
        .page-bn__inner
            div.page-bn__left 
                h1(data-aos="fade-right").block-title Создание интернет-магазина
                div(data-aos="fade-right" data-aos-delay="300").block-sub-title Мы разрабатываем удобные для пользователей интернет-магазины на CMS с повышенной безопасностью, которые имеют в своём функционале инструменты для повышения продаж и хорошо воспринимаются поисковыми сетями.
                a(href="#" data-aos="fade-right" data-aos-delay="600").btn.btn-primary Оставить заявку
                    svg.icon.icon--arrow-right
                        use(href="img/sprite.svg#arrow-right")
    h3.block-title Преимущества наших сайтов
    div(data-aos="fade-up").benefits-list 
        .benefits-list__item 
            .benefits-list__number 1.
            .benefits-list__text
                p Ведем разработку веб-ресурсов на основе предварительного маркетингового анализа
        .benefits-list__item 
            .benefits-list__number 2.
            .benefits-list__text
                p Разрабатываем до 5 креативных дизайн-концепций проекта
        .benefits-list__item 
            .benefits-list__number 3.
            .benefits-list__text
                p На этапе разработки технического задания учитываем задачи будущего SEO
        .benefits-list__item 
            .benefits-list__number 4.
            .benefits-list__text
                p Поддерживаем высокие стандарты технической поддержки и модернизации сайтов
    .develop-text 
        p Мы разрабатываем удобные и понятные для пользователя интернет-магазины на CMS 1C-Битрикс.  Наши сайты отличаются повышенной безопасностью, а их функционал работает на повышение продаж и закрепление высоких позиции сайта в поисковой выдаче.
        p LikeIT - это надежный поставщик и разработчик интернет-магазинов на системе управления CMS 1С-Битрикс. </br> Каждый наш проект проходит «Монитор качества» 1С-Битрикс.
        p Интернет-магазины LikeIT - это отказоустойчивые и масштабируемые проекты с правильной веб-архитектурой, готовые к быстрому росту пользовательской нагрузки.
        p 
            b Создавая ваш интернет-магазин мы:
        ul 
            li(data-aos="fade-up") Разработаем решение на заказ;
            li(data-aos="fade-up") придумаем такую веб-архитектуру проекта, чтобы каждый посетитель сайта мог быстро найти то, что он ищет;
            li(data-aos="fade-up") продумаем серверную структуру проекта, позволяющую формировать контент интернет-магазина под конкретного пользователя;
            li(data-aos="fade-up") сделаем сайт быстрым – он будет загружаться за считанные секунды на мобильных устройствах и получать более 90% в сервисах Google pagespeed insight;
            li(data-aos="fade-up") настроим интеграцию сайта с любыми системами учета и CRM-системами;
            li(data-aos="fade-up") оптимизируем сайт для поисковых систем и подготовим его к продвижению;
            li(data-aos="fade-up") адаптируем все сайты для мобильных устройств.
            li(data-aos="fade-up") сделаем панель администратора сайта максимально удобной и понятной для маркетолога, контент-менеджера или SEO-специалиста.
    .btn-center
        a(href="#").btn.btn-primary Получить коммерческое предложение
            svg.icon.icon--arrow-right
                use(href="img/sprite.svg#arrow-right")
    h3.block-title.text-center Этапы разработки интернет-магазина
    .list-number 
        .list-number__item 
            .list-number__digit 1
            div(data-aos="fade-left").list-number__body
                .list-number__title Сбор информации о проекте
                .list-number__text 
                    p Этап сбора информации включает в себя: заполнение брифа на разработку сайта и проведение предпроектных исследований.
        div(style="max-height:3000px;").list-number-dropdown
            .list-number__item 
                .list-number__digit 2
                div(data-aos="fade-left").list-number__body
                    .list-number__title Поставка программного обеспечения
                    .list-number__text 
                        p Вы становитесь обладателем программного обеспечения, а именно лицензионного ключа системы управления контентом «1С-Битрикс: Управление сайтом» редакция «Старт/Малый бизнес/Бизнес». В дальнейшем, именно на базе этого программного обеспечения будет происходить разработка интернет-магазина. При сдаче проекта мы передадим вам лицензионные ключи.
            .list-number__item 
                .list-number__digit 3
                div(data-aos="fade-left").list-number__body
                    .list-number__title Разработка концепции и дизайн-макетов страниц
                    .list-number__text 
                        p Приступаем к созданию дизайна страниц интернет-магазина. Концепции дизайна разрабатываются на основе заполненного брифа, предпроектных исследований аудиторий, конкурентов. После создания концепции, утверждаем её с вами и если всё хорошо, отрисовываем все страницы.
            .list-number__item 
                .list-number__digit 4
                div(data-aos="fade-left").list-number__body
                    .list-number__title Разработка и верстка
                    .list-number__text 
                        p После создания дизайна, подключаем отдел разработки. Программисты и верстальщики создают техническую основу сайта - разрабатывают и настраивают функционал, интегрируют с CMS, размещают сайт на хостинге и подключают домен.
            .list-number__item 
                .list-number__digit 5
                div(data-aos="fade-left").list-number__body
                    .list-number__title Тестирование и оптимизация сайта
                    .list-number__text 
                        p Сайт готов и следующий этап тестирование: проверяем отсутствие технических ошибок, скорость загрузки, отображение всех страниц на разных устройствах и браузерах. После проведения тестирования, проводим базовую SEO-оптимизацию, чтобы сайт хорошо воспринимался поисковыми системами.
            .list-number__item 
                .list-number__digit 6
                div(data-aos="fade-left").list-number__body
                    .list-number__title Сдача проекта и обучение персонала
                    .list-number__text 
                        p Проект готов и мы начинаем этап приёмки всех работ. С учётом того, что каждый этап проекта закрывается отдельным актом, этап финальной приёмки не занимает много времени. После этого мы высылаем вам подробное руководство по управлению сайтом и проводим онлайн-обучение сотрудников, которые будет заниматься обновлением контента.
            .list-number__item 
                .list-number__digit 7
                div(data-aos="fade-left").list-number__body
                    .list-number__title Наполнение сайта контентом
                    .list-number__text 
                        p Этап наполнения - один из самых важных ведь сам по себе сайт не будет приносить прибыль. А "продающим" его делает именно контент. На основании предпроектных исследований мы создаём тот контент, который будет оказывать влияние на пользователя и проводить его к кнопке "заказать". Мы наполняем каждую страницу сайта и отрисовываем все баннеры.
            .list-number__item 
                .list-number__digit 8
                div(data-aos="fade-left").list-number__body
                    .list-number__title Реклама и продвижение сайта
                    .list-number__text 
                        p Сайт готов и наша задача - привести на него качественный целевой трафик для получения заявок. Используем комплексный маркетинг, чтобы добиться хорошего результата: контекстная реклама, SEO-продвижение, таргетированная реклама и др. Каждая стратегия разрабатывается индивидуально и включает в себя разные наборы инструментов.
        .text-center
            a(href="#").list-number__btn.is-active 
                svg.icon.icon--arrow-up
                    use(href="img/sprite.svg#arrow-up")
                span.list-number__btn-closed Читать всё
                span.list-number__btn-active Свернуть
                svg.icon.icon--arrow-up
                    use(href="img/sprite.svg#arrow-up")
.main-container-sm 
    .block-header
        .block-header__left
            h3.block-title Нашы кейсы
            .block-sub-title Не важно из какой вы сферы, мы в действительности погрузимся в ваши процессы, наши специалисты приедут к вам и узнают всё, о чем вы хотите рассказать вашим пользователям.
        .block-header__right
            a(href="#").btn.btn-primary 
                span.btn__text Все кейсы
                svg.icon.icon--arrow-right
                    use(href="img/sprite.svg#arrow-right") 
.main-container 
    div.case-slider 
        .swiper-wrapper
            .swiper-slide.case-slider__item 
                a(href="#").case 
                    .case__img 
                        img(src="img/case/case-1.jpg", alt="")
                    .case__name Мобильное приложение Hankook
                    .case__about Сервис расширенной гарантии Hankook.
            .swiper-slide.case-slider__item 
                a(href="#").case 
                    .case__img 
                        img(src="img/case/case-2.jpg", alt="")
                    .case__name Мобильное приложение PetzTrove
                    .case__about Сервис расширенной гарантии Hankook.
            .swiper-slide.case-slider__item 
                a(href="#").case 
                    .case__img 
                        img(src="img/case/case-3.jpg", alt="")
                    .case__name Интернет-магазин AMIHOME 
                    .case__about Сервис расширенной гарантии Hankook.
            .swiper-slide.case-slider__item 
                a(href="#").case 
                    .case__img 
                        img(src="img/case/case-4.jpg", alt="")
                    .case__name Интерент-магазин постельного белья
                    .case__about Сервис расширенной гарантии Hankook.
    .request-container.request--blue
        .request__text
            p Получить подарок во время КРИЗИСА, это бесценно.
        .request__right
            .request-form 
                input(type="text" placeholder="Введите адрес вашего сайта").request-form__input 
            a(href="#").btn-request Отправить  
                svg.icon.icon--arrow-right
                    use(href="img/sprite.svg#arrow-right")
.main-container-sm
    div.letter
        .letter__text Привет, меня зовут
        .letter__form 
            input(type="text" placeholder="имя и фамилия").letter__form-input
        .letter__text . Я из компании
        .letter__form 
            input(type="text" placeholder="название компании").letter__form-input
        .letter__text Вы можете связаться со мной по телефону
        .letter__form 
            input(type="text" placeholder="ххх ххх хх хх").letter__form-input
        .letter__text , или по электронной почте
        .letter__form 
            input(type="text" placeholder="your@email.ru").letter__form-input.is-error
        .letter__text . Меня интересует 
        .letter__form-textarea-cont
            textarea(cols="30", rows="1" placeholder=" краткое описание проекта").letter__form-textarea
    div.file 
        input(type="file")#file-1.file__input
        label(for="file-1").file__label Прикрепить файл с информацией о проекте
            svg.icon.icon--clip
                use(href="img/sprite.svg#clip")
    div.letter-bottom 
        a(href="#").btn.btn-primary Отправить 
            svg.icon.icon--arrow-right
                use(href="img/sprite.svg#arrow-right")
        .checkbox
            //.is-error
            input(type="checkbox")#checkbox-1.checkbox__input
            label(for="checkbox-1").checkbox__label Согласие на обработку персональных данных

