.main-container 
    div(data-aos="fade-up").request-container.request--black 
        .request__text
            p Узнайте, что можно сделать для вашего сайта
        .request__right
            .request-form 
                input(type="text" placeholder="Введите адрес вашего сайта").request-form__input 
            a(href="#").btn-request Отправить  
                svg.icon.icon--arrow-right
                    use(href="img/sprite.svg#arrow-right")
