.reviwe-main-wrapper
    .main-container-sm 
        .block-header
            .block-header__left
                h3.block-title Отзывы клиентов
                    svg.icon.icon--youtube
                        use(href="img/sprite.svg#youtube") 
                .block-sub-title Не важно из какой вы сферы, мы в действительности погрузимся в ваши процессы, наши специалисты приедут к вам и узнают всё, о чем вы хотите рассказать вашим пользователям.
            .block-header__right
                a(href="#").btn.btn-primary 
                    span.btn__text Все отзывы
                    svg.icon.icon--arrow-right
                        use(href="img/sprite.svg#arrow-right") 
        .reviwe-main
            .reviwe-main__col
                div(data-aos="fade-left").reviwe-main__text 
                    p В процессе сотрудничества компания ООО «Лайкит» зарекомендовала себя как надежный и порядочный партнер, готовый к открытому многоплановому и долговременному сотрудничеству. Сотрудники ООО «Лайкит» показали себя как специалисты, способные решать нестандартные задачи. Дизайнерские решения, использованные в работе, были исполнены на высоком уровне, внедрена качественная программная разработка, которая весьма ощутимо повысила скорость реализации изменений на сайте.
                .reviwe-main__author Андрей Рыбоков, менеджер Hankook
                a(href="#").reviwe-main__pdf 
                    svg.icon.icon--pdf
                        use(href="img/sprite.svg#pdf")
                    |Смотреть PDF
                    svg.icon.icon--arrow-right
                        use(href="img/sprite.svg#arrow-right")
            div(data-aos="fade-right").reviwe-main__col.reviwe-main__video-cont
                .reviwe-main__logo-mobile 
                    img(src="img/reviwe-partner.png", alt="")
                .reviwe-main__video
                    <iframe src="https://www.youtube.com/embed/FSrHrsNv2PA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        