.decision-wrapper
    .main-container-sm 
        h3.block-title Решения для бизнеса
        .block-sub-title Наши ключевые компетенции
        .decision-list.services
            .decision-list__col 
                div(data-aos="fade-left").decision
                    a(href="#").decision__head Разработка
                        svg.icon.icon--arrow-right
                            use(href="img/sprite.svg#arrow-right")
                    .decision__text 
                        p Проектирование и разработка интернет-проектов любой сложности для любой сферы бизнеса.
                    .decision__links
                        a(href="#").decision__link Создание интернет-магазина
                        |,
                        a(href="#").decision__link Создание корпоративного сайта
                        |, 
                        a(href="#").decision__link Создание Landing page
                        |,
                        a(href="#").decision__link Адаптивная верстка проектов
                        |,
                        a(href="#").decision__link Создание сайтов на Tilda
                        |...
                        a(href="#").decision__link-more Показать больше
                    .decision__hover
                        a(href="#").decision__head Разработка
                            svg.icon.icon--arrow-right
                                use(href="img/sprite.svg#arrow-right")
                        .decision__text 
                            p Проектирование и разработка интернет-проектов любой сложности для любой сферы бизнеса.
                        .decision__links
                            a(href="#").decision__link Создание интернет-магазина
                            a(href="#").decision__link Создание корпоративного сайта
                            a(href="#").decision__link Создание Landing page
                            a(href="#").decision__link Адаптивная верстка проектов
                            a(href="#").decision__link Создание сайтов на Tilda
                            a(href="#").decision__link Создание высоконагруженных проектов 
                            a(href="#").decision__link Разработка сайтов на 1С-Битрикс
                            a(href="#").decision__link Купить лицензию 1С-Битрикс
            .decision-list__col 
                div(data-aos="fade-left" data-aos-delay="100").decision
                    a(href="#").decision__head IOS / Android
                        svg.icon.icon--arrow-right
                            use(href="img/sprite.svg#arrow-right")
                    .decision__text 
                        p Разработка мобильных приложений для крупного и среднего бизнеса, банков розничных сетей.
                    .decision__links
                        a(href="#").decision__link Создание нативных приложений
                        |,
                        a(href="#").decision__link Создание мобильных веб-приложений
                        |,
                        a(href="#").decision__link Создание гибриднах приложений
                    .decision__hover
                        a(href="#").decision__head IOS / Android
                            svg.icon.icon--arrow-right
                                use(href="img/sprite.svg#arrow-right")
                        .decision__text 
                            p Разработка мобильных приложений для крупного и среднего бизнеса, банков розничных сетей.
                        .decision__links
                            a(href="#").decision__link Создание нативных приложений
                            a(href="#").decision__link Создание мобильных веб-приложений
                            a(href="#").decision__link Создание гибриднах приложений
            .decision-list__col 
                div(data-aos="fade-left" data-aos-delay="600").decision
                    a(href="#").decision__head Дизайн
                        svg.icon.icon--arrow-right
                            use(href="img/sprite.svg#arrow-right")
                    .decision__text 
                        p Создание уникального продукта для решения конкретных задач бизнеса. Эргономичный и эффективный дизайн убирает ограничения для реализации функциональных возможностей сайта.
                    .decision__links
                        a(href="#").decision__link Уникальный дизайн сайтов
                        |,
                        a(href="#").decision__link Дизайн баннеров
                        |,
                        a(href="#").decision__link Разработка логотипа
                    .decision__hover
                        a(href="#").decision__head Дизайн
                            svg.icon.icon--arrow-right
                                use(href="img/sprite.svg#arrow-right")
                        .decision__text 
                            p Создание уникального продукта для решения конкретных задач бизнеса. Эргономичный и эффективный дизайн убирает ограничения для реализации функциональных возможностей сайта.
                        .decision__links
                            a(href="#").decision__link Уникальный дизайн сайтов
                            a(href="#").decision__link Дизайн баннеров
                            a(href="#").decision__link Разработка логотипа
            .decision-list__col 
                div(data-aos="fade-left").decision
                    a(href="#").decision__head Маркетинг
                        svg.icon.icon--arrow-right
                            use(href="img/sprite.svg#arrow-right")
                    .decision__text 
                        p Привлечение клиентов, повышение узнаваемости бренда, компании, товара, обеспечение лояльности целевой аудитории и, конечно же, увеличение продаж.
                    .decision__links
                        a(href="#").decision__link Разработка маркетинговой стратегии
                        |,
                        a(href="#").decision__link SEO продвижение
                        |,
                        a(href="#").decision__link Аудит проекта
                    .decision__hover
                        a(href="#").decision__head Маркетинг
                            svg.icon.icon--arrow-right
                                use(href="img/sprite.svg#arrow-right")
                        .decision__text 
                            p Привлечение клиентов, повышение узнаваемости бренда, компании, товара, обеспечение лояльности целевой аудитории и, конечно же, увеличение продаж.
                        .decision__links
                            a(href="#").decision__link Разработка маркетинговой стратегии
                            a(href="#").decision__link SEO продвижение
                            a(href="#").decision__link Аудит проекта
            .decision-list__col 
                div(data-aos="fade-left" data-aos-delay="300").decision
                    a(href="#").decision__head Техническая поддержка
                        svg.icon.icon--arrow-right
                            use(href="img/sprite.svg#arrow-right")
                    .decision__text 
                        p Разработка мобильных приложений для крупного и среднего бизнеса, банков розничных сетей.
                    .decision__links
                        a(href="#").decision__link Техническая поддержка
                        |,
                        a(href="#").decision__link Ускорение загрузки сайта
                        |,
                        a(href="#").decision__link Доработка сайтов
                        |,
                        a(href="#").decision__link Наполнение контентом
                        |,
                        a(href="#").decision__link SSL-сертификаты
                        |,
                        a(href="#").decision__link Чистка сайтов от вирусов
                        |,
                        a(href="#").decision__link Создание англоязычных сайтов
                    .decision__hover
                        a(href="#").decision__head Техническая поддержка
                            svg.icon.icon--arrow-right
                                use(href="img/sprite.svg#arrow-right")
                        .decision__text 
                            p Разработка мобильных приложений для крупного и среднего бизнеса, банков розничных сетей.
                        .decision__links
                            a(href="#").decision__link Техническая поддержка
                            a(href="#").decision__link Ускорение загрузки сайта
                            a(href="#").decision__link Доработка сайтов
                            a(href="#").decision__link Наполнение контентом
                            a(href="#").decision__link SSL-сертификаты
                            a(href="#").decision__link Чистка сайтов от вирусов
                            a(href="#").decision__link Создание англоязычных сайтов
        .decision-btn--moble.services-btn
            a(href="#").btn.btn-primary Заказать одну из услуг 
                svg.icon.icon--arrow-right
                    use(href="img/sprite.svg#arrow-right")
    .main-container 
            .request-container.request--blue
                .request__text
                    p Получить подарок во время КРИЗИСА, это бесценно.
                .request__right
                    .request-form 
                        input(type="text" placeholder="Введите адрес вашего сайта").request-form__input 
                    a(href="#").btn-request Отправить  
                        svg.icon.icon--arrow-right
                            use(href="img/sprite.svg#arrow-right")
    
    .main-container-sm 
        .technology-cont
            h3.block-title Технологии
            .technology-list 
                div(data-aos="fade-up").technology-list__item 
                    .technology__tytle Разработка серверных систем
                    .technology__catalogue PHP, Laravel, 1С-Битрикс
                div(data-aos="fade-up" data-aos-delay="300").technology-list__item 
                    .technology__tytle Мобильная разработка
                    .technology__catalogue iOS, Android, Xamarin, WebView, Битрикс
                div(data-aos="fade-up" data-aos-delay="600").technology-list__item 
                    .technology__tytle Разработка базы данных
                    .technology__catalogue MySQL, Memcached
                div(data-aos="fade-up").technology-list__item 
                    .technology__tytle Разработка клиентских систем
                    .technology__catalogue JavaScript, JQuery, Less, БЭМ
                div(data-aos="fade-up" data-aos-delay="300").technology-list__item 
                    .technology__tytle Управление проектами
                    .technology__catalogue Waterfall, Agile, Scrum, Kanban
                div(data-aos="fade-up" data-aos-delay="600").technology-list__item 
                    .technology__tytle Веб-аналитика
                    .technology__catalogue Google,Analytics, Яндекс.Метрика
        div(data-aos="fade-up").letter
            .letter__text Привет, меня зовут
            .letter__form 
                input(type="text" placeholder="имя и фамилия").letter__form-input
            .letter__text . Я из компании
            .letter__form 
                input(type="text" placeholder="название компании").letter__form-input
            .letter__text Вы можете связаться со мной по телефону
            .letter__form 
                input(type="text" placeholder="ххх ххх хх хх").letter__form-input
            .letter__text , или по электронной почте
            .letter__form 
                input(type="text" placeholder="your@email.ru").letter__form-input.is-error
            .letter__text . Меня интересует 
            .letter__form-textarea-cont
                textarea(cols="30", rows="1" placeholder=" краткое описание проекта").letter__form-textarea
        div(data-aos="fade-up").file 
            input(type="file")#file-1.file__input
            label(for="file-1").file__label Прикрепить файл с информацией о проекте
                svg.icon.icon--clip
                    use(href="img/sprite.svg#clip")
        div(data-aos="fade-up").letter-bottom 
            a(href="#").btn.btn-primary Отправить 
                svg.icon.icon--arrow-right
                    use(href="img/sprite.svg#arrow-right")
            .checkbox
                //.is-error
                input(type="checkbox")#checkbox-1.checkbox__input
                label(for="checkbox-1").checkbox__label Согласие на обработку персональных данных