.breadcrumbs {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 50px 0;
    padding: 0;
    list-style: none;

    &__item {
        font-weight: 400;
        font-size: 14px;
        line-height: 15px;
        color: #414A5B;

        &:last-child {
            &:after {
                display: none;
            }
        }

        &:after {
            width: 1px;
            height: 13px;
            background-color: #C4C4C4;
            margin: 0 10px;
            content: '';
            display: inline-block;
        }
    }

    &__link {
        text-decoration: none;
        outline: 0;
        color: #C4C4C4;
        transition: 0.3s all ease;


        &:hover {
            color: $blueColor;
        }
    }
}

.about-slogan {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 75px;

    p {
        margin: 0;
    }
}

.count-list-3 {
    .count-list__item {
        flex: 0 0 33.333%;
    }
    .count-list__item:first-child .count__number {
        color: #438BFE;
        text-shadow: 0px 14px 24px rgba(37, 115, 182, 0.34);
    }
}

.about {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;

    &__img {
        height: 336px;
        overflow: hidden;
        border-radius: 50%;
        flex: 0 0 336px;

        img {
            max-width: 100%;
        }
    }

    &__body {
        flex: 0 0 calc(100% - 336px);
        padding-left: 81px;
    }

    &__name {
        font-weight: 700;
        font-size: 18px;
        line-height: 28px;
        color: #FC342A;
        margin-top: 0;
        margin-bottom: 25px;

    }

    &__text {
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        color: #000000;
        margin-bottom: 40px;

        p {
            margin-top: 0;
            margin-bottom: 25px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
.count {
    &__number-lg {
        font-weight: 700;
        font-size: 48px;
        line-height: 59px;
    }
}

.quote {
    background: #F9F8F9;
    border-radius: 6px;
    padding: 22px 20px 22px 120px;
    position: relative;
    width: 100%;
    margin: 0;
    margin-bottom: 53px;

    p {
        margin: 0;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;

        &.quote--bold {
            font-size: 18px;
            font-weight: 700;
        }
    }
    
    .icon {
        position: absolute;
        left: 36px;
        top: 50%;
        transform: translateY(-50%);
    }
}

.list-red {
    margin: 0;
    padding: 0;
    list-style: none;

    &__item {
        padding-left: 45px;
        position: relative;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        margin-bottom: 6px;

        &:after {
            content: '';
            width: 20px;
            height: 3px;
            background: linear-gradient(0deg, #FC342A, #FC342A), #FC342A;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

.award-list {
    margin-bottom: 30px;
}

.award-text {
    margin-bottom: 30px;

    p {
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        margin-top: 0;
        margin-bottom: 25px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.list-number-dropdown {
    margin-bottom: 45px;
    max-height: 0;
    overflow: hidden;
    transition: 1s all ease;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: 0 -55px 80px 50px #ffffff;
    position: relative;

    &.is-active {
        box-shadow: none;

    }

    .list-number__item {
        margin-right:  0;
        margin-left: 0;
    }
}

.list-number {
    margin: 0 auto;
    max-width: 1057px;
    margin-bottom: 80px;

    &__item {
        margin-bottom: 24px;
        display: flex;
        flex-wrap: wrap;
        position: relative;
        margin-right: 15px;
        margin-left: 15px;

        &:hover {
            .list-number__digit {
                background-color: #FC342A;
                color: #fff;
                box-shadow: 0px 4px 15px rgba(252, 52, 42, 0.25);
            }
        }

        &:last-child {
            margin-bottom: 0;

            &:after {
                display: none;
            }
        }

        &:after {
            position: absolute;
            width: 2px;
            background: #EAEAEA;
            height: calc(100% - 65px);
            top: 65px;
            left: 23px;
            content: '';
            display: block;
        }
    }

    &__digit {
        width: 46px;
        height: 46px;
        border: 2px solid #FC342A;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 500;
        font-size: 17px;
        line-height: 28px;
        color: #FC342A;
        transition: 0.3s all ease;
    }

    &__digit-active {
        background-color: #FC342A;
        color: #fff;
        box-shadow: 0px 4px 15px rgba(252, 52, 42, 0.25);
    }

    &__body {
        flex: 0 0 calc(100% - 46px);
        padding-left: 46px;
        padding-top: 8px;
    }

    &__title {
        font-weight: 700;
        font-size: 18px;
        line-height: 28px;
        margin-top: 0;
        margin-bottom: 25px;
    }

    &__text {
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;

        p {
            margin-top: 0;
            margin-bottom: 15px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.list-number__btn {
    color: #fff;
    background: #0083FF;
    display: inline-flex;
    align-items: center;
    border-radius: 33px;
    transition: 0.3s all ease;
    text-decoration: none;
    outline: 0;
    padding: 19px 33px;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    box-shadow: 0px 8px 10px 0px rgba($color: #fff, $alpha: 0.3);
    justify-content: center;

    &.is-active {

        .list-number__btn-closed {
            display: none;
        }

        .list-number__btn-active {
            display: block;
        }

        .icon {
            transform: rotate(0deg);
        }
    }

    &-active {
        display: none;
    }

    .icon {
        margin: 0 10px;
        transform: rotate(180deg);
    }

    @media (min-width: 1023px) {
        &:hover {
            transform: translate(0,-5px);
            box-shadow: 0px 8px 10px 0px rgba($color: #0083FF, $alpha: 0.3);
        }
    }

}

.about-slider {
    position: relative;
    margin-bottom: 95px;

    .swiper-button-prev {
        transform: rotate(-90deg);
        left: -40px;   
    }

    .swiper-button-next {
        transform: rotate(90deg);
        right: -40px;   
    }

    .swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
        content: '';
    }

    .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
        content: '';
    }
}

.about-card {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    &__photo {
        flex: 0 0 132px;
        border-radius: 50%;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            max-width: 100%;
            display: block;
        }
    }

    &__body {
        flex: 0 0 calc(100% - 132px);
        padding-left: 21px;
    }

    &__name {
        font-weight: 700;
        font-size: 18px;
        line-height: 28px;
        color: #000000;
    }

    &__post {
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        color: #000000;
    }

    &__contacts {
        font-weight: 400;
        font-size: 15px;
        line-height: 28px;
        color: #FC342A;
        text-decoration: none;
        outline: 0;
        display: inline-flex;
        align-items: center;

        .icon {
            margin-right: 6px;
        }

        &:hover {
            .about-card__contacts-text {
        
                &:after { 
                    height: 21px;
                }

            }
        }
    }

    &__contacts-text {
        position: relative;
        padding: 0 5px;
        z-index: 2;
        
        &:after {
            content: '';
            background: rgba(252, 52, 42, 0.25);
            width: 100%;  
            height: 9px;
            position: absolute;
            left: 0;
            bottom: 3px;
            z-index: -1;
            transition: 0.3s all ease;
        }
    } 
}

.clients {
    margin-bottom: 90px;

    &__item {
        padding: 0 20px;
        flex: 0 0 16.666%;
    }
}
.clients-row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px;
}
.client {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    outline: 0;

    @media (min-width: 1024px) {
        &:hover img {
            transform: translate(-5px,-5px) scale(1.1);
        }
    }

    img {
        max-width: 100%;
        display: block;
        transition: 0.3s all ease;
    }
}

@media (max-width: 1500px) {

    .about-slider {
        padding: 0 10px;

        .swiper-button-prev {
            left: -17px;   
        }
    
        .swiper-button-next {
            right: -17px;   
        }
    }

}

@media (max-width: 1200px) {
    .about__body {
        flex: 0 0 calc(100% - 220px);
        padding-left: 30px;
    }
    .about__img {
        height: 220px;
        flex: 0 0 220px;
    }
}

@media (max-width: 1160px) {
    .about-card {
    
        &__photo {
            flex: 0 0 90px;
            height: 90px;
        }
    
        &__body {
            flex: 0 0 calc(100% - 90px);
        }
    }
}

@media (max-width: 1024px) {

    .clients {
        &__item {
            padding: 0 20px;
            flex: 0 0 33.333%;
        }
    }

}

@media (max-width: 992px) {
    .about {
        display: block;
    }

    .about__img {
        display: block;
        width: 220px;
        margin-bottom: 15px;
    }

    .about__body {
        padding-left: 0;
    }
}

@media (max-width: 568px) {

    .list-number-dropdown {
        box-shadow: 0 -100px 150px 120px #ffffff;
    }

    .clients {
        &__item {
            padding: 0 20px;
            flex: 0 0 50%;
        }
    }
    .clients-row {
        &:last-child {
            display: none;
        }
    }
    .about-slogan {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 50px;
    }
    .about__name {
        font-size: 17px;
        line-height: 24px;
        margin-bottom: 20px;
    }
    .about__text {
        font-size: 16px;
    }
    .count__text {
        font-size: 10px;
        line-height: 12px;
    }
    .count__number-lg {
        font-size: 32px;
        line-height: 26px;
    }
    .quote {
        padding: 15px 10px 15px 26px;
        margin-bottom: 40px;
    }
    .quote .icon {
        position: absolute;
        left: 6px;
        top: 17px;
        transform: translateY(0);
        width: 14px;
        height: 18px;
    }
    .quote p.quote--bold {
        font-size: 16px;
        line-height: 1.3;
    }
    .quote p {
        font-size: 15px;
        line-height: 1.3;
    }
    .list-red__item {
        font-size: 16px;
        line-height: 24px;
    }

    .award-text p {
        font-size: 16px;
        line-height: 20px;
    }
    .list-number__item {
        margin-right: 0;
        margin-left: 0;
    }
    .list-number-dropdown {
        padding: 0;
    }
    .list-number__body {
        flex: 0 0 calc(100% - 30px);
        padding-left: 17px;
        padding-top: 2px;
    }
    .list-number__digit {
        width: 30px;
        height: 30px;
    }
    .list-number__item:after {
        height: calc(100% - 55px);
        top: 49px;
        left: 14px;
    }
    .list-number__title {
        margin-bottom: 11px;
    }
    .list-number__text {
        font-size: 16px;
        line-height: 24px;
    }
}





