.case-slider {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 84px;
    overflow: hidden;
}

.case {
    text-decoration: none;
    outline: 0;

    @media (min-width: 1024px) {

        &:hover {

            .case__img {
                transform: translate(0, -5px);
                img {
                    transform: scale(1.2);
                }
            }
    
            .case__name {
                transform: translate(0, -5px);
                color: $blueColor;
            }
    
            .case__about {
                transform: translate(0, -5px);
            }
        }
    }

    &__img {
        transition: 0.3s all ease;
        margin-bottom: 25px;
        overflow: hidden;   

        img {
            width: 100%;
            display: block;
            transition: 0.3s all ease;
        }
    }

    &__name {
        font-weight: 700;
        font-size: 18px;
        color: #000000;
        margin-bottom: 17px;
        max-width: 210px;
        transition: 0.3s all ease;
    }

    &__about {
        font-weight: 400;
        font-size: 16px;
        color: #000000;
        transition: 0.3s all ease;     
    }
}

@media (max-width: 992px) {
    .case-slider {
        padding: 0;
    }

    .case-slider {
        margin-bottom: 40px;
    }
}

@media (max-width: 480px) {

    .case {
        &__name {
            max-width: 100%;
            text-align: center;
            margin-bottom: 10px;
        }

        &__img {
            margin-bottom: 20px;
        }

        &__about {
            text-align: center;
            font-size: 14px;
        }
    }
}

@media (max-width: 375px) {
    .case__name {
        font-size: 17px;
    }
}