extends layout/_layout

block content
	include blocks/_header
	include blocks/_welcome
	include blocks/_request
	include blocks/_decision
	include blocks/_case
	include blocks/_facts
	include blocks/_reviwe-main
	include blocks/_clients-main
	include blocks/_technology
	include blocks/_footer

