.main-container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  max-width: $maxWidthContainer + px;
}

.main-container-sm {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1450px;

}

.services {
  margin-bottom: 130px!important;
}

.text-center {
  text-align: center!important;
}

.text-right {
  text-align: right!important;
}

.text-left {
  text-align: left!important;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-red {
  color: #FB274A;
}

.text-blue {
  color: #458CFE;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  min-width: 0;
  max-width: 100%;
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}

.ml-auto {
  margin-left: auto!important;
}

.mr-auto {
  margin-right: auto!important;
}

.mb-0 {
  margin-bottom: 0!important;
}

.mt-0 {
  margin-top: 0!important;
}

.mt-30 {
  margin-top: 30px!important;
}

.mt-20 {
  margin-top: 20px!important;
}

.mt-15 {
  margin-top: 15px!important;
}

.mb-30 {
  margin-bottom: 30px!important;
}

.mb-20 {
  margin-bottom: 20px!important;
}

.mb-15 {
  margin-bottom: 15px!important;
}

.bb-0 {
  border-bottom: 0!important;
}

.col-1-2 {
  width: 50%;
}

.col-1-3 {
  width: 33.3%;
}

.col-2-3 {
  width: 66.6%;
}

.page-inner {
  padding-top: 74px;
}

.br {
  display: block;
}

.body-overflow {
  overflow: hidden;
}

@media(max-width: 1024px) {
  .page-inner {
    padding-top: 63px;
  }
}

@media (max-width: 768px) {
  
  .services {
    margin-bottom: 30px!important;
  }
  .services-btn {
    margin-bottom: 50px;
  }
}