.icon {
  fill: currentColor; 
  display: inline-block;
  vertical-align: top;

  &--arrow-right {
    width: 25px;
    height: 13px;
  }

  &--youtube {
    width: 56px;
    height: 24px;
  }

  &--pdf {
    width: 32px;
    height: 32px;
  }

  &--clip {
    width: 19px;
    height: 21px;
  }

  &--feedback {
    width: 21px;
    height: 23px;
  }

  &--quotes {
    width: 25px;
    height: 18px;
  }

  &--arrow-up {
    width: 12px;
    height: 14px;
  }

  &--instagram-sm, &--phone-sm {
    width: 13px;
    height: 13px;
  }
}